{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'webbb.css' %}">
  
</head>

<body>

    <div class="container">

        <form class="card"  method="post">
            {% csrf_token %}
            <div class="joh">
                <img src="{% static 'pic1.png' %}">
            </div>
            <div class="input-container">
                
                <input type="text" id="fname" name="username" required>
                <label for="fname">Username</label><br>
            </div>
                <div class="input-container">
                    
                <input type="password" id="pswd" name="password" required>
                <label for="pswd">Password</label><br> 
            </div>

            <label>
                <input type="checkbox"> Remember me </label>
            <label id="check"> <a href="#">Forgot Password?</a></label><br><br><br>

            <button>Login</button>
        </form>

    </div>
</body>

</html>